body{
  text-align:center;
 background: linear-gradient( #329e15 0%,#15eb2a);
}
img{
  width:100px;
  height:100px;
transition: transform .2s;
    border: 10px solid #AAAAAA;
}
#h1{
  color:darkgreen;
}
#bio{
  padding:50px;
  text-align:center;
}
.line{
  height:8px;
  background-color:black;
  width:70px;
 margin:8px auto;
}
p{
  color:green;
}
.menu{
    list-style: none;
    font-family: cursive;
    float: right;
    top:10px;
    right: 30px;
    cursor:pointer;
    color: black;
}
#hobby{
    font-family:'Cinzel Decorative', cursive;
}
.links:hover{
    font-size: 30px;
    color:darkgreen;
}
img:hover{
    transform: scale(0.9;)
}